<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-light white" data-spy="affix" data-offset-top="197">
      <div id="head">
        <div id="cname">
          <a class="navbar-brand" href="#">
            <b> MOHITE REALTY</b>
            <br>
            Commercial RealEstate</a>
        </div>
  
  
        <div id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link"  [routerLink]="['home']" ><b>Home</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['about']"><b>About</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['shopforsale']"><b>Shop for Sale </b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['shopfonrent']"><b>Shop For Rent</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['office-on-rent']"><b>Office On Rent</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link"  [routerLink]="['lands']"><b>Land</b></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link"  [routerLink]="['contact']"><b>Contact</b></a>
            </li>&nbsp;&nbsp;&nbsp;
            <li class="nav-item">
              <a class="button" href="#"><button type="button" class="btn btn-primary">Call</button></a>
            </li>
          </ul>
  
        </div>
      </div>
    </nav>
  </header>
  <router-outlet></router-outlet>